[include shell_command.cfg]
[include mainsail.cfg]
[include macros.cfg]
[include magneto_toolhead.cfg]
[include KAMP_Settings.cfg]
[include magneto_device.cfg]
[include beacon.cfg]
[include kinematics.cfg]
[include bed.cfg]
[include nozzlewiper.cfg]
[include fans.cfg]
[include sensors.cfg]
[include lights.cfg]


[idle_timeout]
timeout: 3600

[gcode_arcs]
resolution:0.1

[force_move]
enable_force_move: True

# CAN bus is also available on this board

[exclude_object]

[respond]

[printer]
kinematics: cartesian
max_velocity: 1500
max_accel: 15000
max_z_velocity: 5
max_z_accel: 100

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=PC5

[input_shaper]
shaper_type_y = zv
shaper_freq_y = 27.0
shaper_type_x = ei
shaper_freq_x = 44.4


# [output_pin beeper_pin]
# pin: EXP1_1
# pwm: true
# value: 0
# # shutdown_value: 0
# cycle_time: 0.001

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.033750, 0.070000, 0.068750, 0.085000, 0.092500, 0.075000
#*# 	  0.055000, 0.057500, 0.100000, 0.057500, 0.108750, 0.103750
#*# 	  0.066250, 0.103750, 0.070000, 0.105000, 0.116250, 0.075000
#*# 	  0.007500, 0.076250, 0.093750, 0.076250, 0.053750, 0.083750
#*# 	  0.060000, 0.086250, 0.090000, 0.043750, 0.040000, 0.060000
#*# 	  0.090000, 0.078750, 0.098750, 0.028750, 0.046250, 0.077500
#*# 	  0.057500, 0.097500, 0.101250, 0.036250, 0.063750, 0.072500
#*# 	  0.013750, 0.070000, 0.052500, 0.040000, 0.036250, 0.033750
#*# x_count = 6
#*# y_count = 8
#*# mesh_x_pps = 4
#*# mesh_y_pps = 4
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 0.0
#*# max_x = 270.0
#*# min_y = 0.0
#*# max_y = 379.96
