######################
# ADDITIONAL SENSORS #
######################

# Filament sensor on the mellow3d filament buffer
[filament_switch_sensor Buffer_Sensor]
pause_on_runout: True
switch_pin: ^PB7
runout_gcode:
  PAUSE